.reviews-slider .slick-dots {
  position: absolute;
  bottom: 0;
  right: 48%;
  transform: rotate(-90deg) !important;
  box-sizing: border-box;
}
.reviews-slider .slick-dots li {
  padding: 5px;
}
.reviews-slider .slick-dots li button {
  border-radius: 100%;
  border: none;
  color: #fff;
  background-color: #fff;
  opacity: 0.8;
  height: 15px;
  width: 15px;
  outline: none;
  border: 2px solid #E0E0E0;
  box-sizing: border-box;
  width: 10px;
  height: 10px;
  cursor: pointer;
}
.reviews-slider .slick-dots li.slick-active button {
  color: #4B67B1;
  background-color: #4B67B1;
}
.reviews-slider .slider-arrows {
  font-size: 2rem;
  color: #4B67B1;
  z-index: 200;
}
.reviews-slider .slick-prev {
  color: #4B67B1;
  z-index: 100;
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
  background: transparent;
  position: absolute;
  outline: none;
  top: 50%;
  margin-top: -31px;
  border-bottom: 5px solid #4B67B1;
  border-left: 5px solid #4B67B1;
  transform: rotate(45deg);
  left: 20px;
  opacity: 0.6;
  font-size: 0;
}
.reviews-slider .slick-next {
  color: #4B67B1;
  z-index: 100;
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
  outline: none;
  background: transparent;
  position: absolute;
  top: 50%;
  margin-top: -31px;
  border-bottom: 5px solid #fff;
  border-left: 5px solid #fff;
  transform: rotate(-135deg);
  right: 20px;
  opacity: 0.6;
  font-size: 0;
}
