body {
  font-size: 16px;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
.headling-second {
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  color: #333333;
}
.headling-third {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #4B67B1;
}
.menu-fixed {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  padding: 50px 0;
}
.menu-fixed .menu-fixed-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.menu-fixed .menu-fixed-container .menu-logo {
  display: flex;
  align-items: center;
}
.menu-fixed .menu-fixed-container .menu-logo .menu-logo-image {
  margin-right: 15px;
}
.menu-fixed .menu-fixed-container .menu-logo .menu-logo-text p {
  font-weight: bold;
  font-size: 14px;
  color: #fff;
}
.menu-fixed .menu-fixed-container .menu li {
  display: inline-block;
  margin-right: 20px;
}
.menu-fixed .menu-fixed-container .menu li:last-child {
  margin-right: 0;
}
.menu-fixed .menu-fixed-container .menu li a {
  cursor: pointer;
  font-size: 18px;
  color: #fff;
}
.menu-fixed .menu-fixed-container .language select {
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
}
.menu-fixed .menu-fixed-container .numbers .number-block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}
.menu-fixed .menu-fixed-container .numbers .number-block:last-child {
  margin-bottom: 0;
}
.menu-fixed .menu-fixed-container .numbers .number-block .number-icon {
  margin-right: 5px;
}
.menu-fixed .menu-fixed-container .numbers .number-block .number-icon img {
  width: 18px;
}
.menu-fixed .menu-fixed-container .numbers .number-block .number-item p {
  font-weight: 500;
  font-size: 16px;
  color: #fff;
}
header {
  background-image: url(../img/bg.png);
  padding: 200px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
header .header-container .header-title {
  margin-bottom: 75px;
}
header .header-container .header-title h1 {
  font-weight: 900;
  font-size: 72px;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
  box-sizing: border-box;
}
header .header-container .header-title p {
  text-align: center;
  color: #fff;
  font-size: 30px;
}
header .header-container .header-buttons {
  text-align: center;
}
header .header-container .header-buttons .header-btn {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  box-sizing: border-box;
  border-radius: 40px;
}
header .header-container .header-buttons .header-btn.blue-btn {
  color: #fff;
  margin-right: 28px;
  padding: 25px 28px;
  background: #4B67B1;
  border: none;
}
header .header-container .header-buttons .header-btn.trans-btn {
  border: 3px solid #FFFFFF;
  background: transparent;
  padding: 20px 74px;
  box-sizing: border-box;
}
header .header-container .slogan {
  margin-top: 100px;
  text-align: center;
}
.courses .courses-container .courses-links {
  padding: 50px 0 100px 0;
}
.courses .courses-container .courses-links .courses-prof {
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  color: #333333;
  color: #4B67B1;
  margin-right: 70px;
  cursor: pointer;
}
.courses .courses-container .courses-links .courses-kids {
  font-size: 24px;
  color: #C4C4C4;
  cursor: pointer;
}
.courses .courses-container .courses-content .courses-block .courses-main-title {
  margin-bottom: 50px;
}
.courses .courses-container .courses-content .courses-block .courses-main-title span {
  color: #4B67B1;
  font-size: 36px;
  margin-right: 8px;
}
.courses .courses-container .courses-content .courses-block .courses-main-title h3 {
  font-weight: bold;
  font-size: 36px;
  color: #333333;
  display: inline-block;
}
.courses .courses-container .courses-content .courses-block .courses-block-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.courses .courses-container .courses-content .courses-block .courses-block-list .course-block-item {
  margin-right: 20px;
  margin-bottom: 30px;
  width: 22%;
  box-sizing: border-box;
}
.courses .courses-container .courses-content .courses-block .courses-block-list .course-block-item .block-bg {
  position: relative;
}
.courses .courses-container .courses-content .courses-block .courses-block-list .course-block-item .block-bg .course-block-bg {
  height: 110px;
  width: 100%;
  padding-top: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.courses .courses-container .courses-content .courses-block .courses-block-list .course-block-item .block-bg .course-logo {
  position: absolute;
  z-index: 300;
  top: 70%;
  left: 7%;
}
.courses .courses-container .courses-content .courses-block .courses-block-list .course-block-item .block-bg .course-block-extra {
  height: 50px;
  width: 100%;
  clip-path: polygon(0 44%, 100% 0%, 100% 63%, 0 65%);
  position: absolute;
  top: 81%;
  left: 0;
  z-index: 200;
}
.courses .courses-container .courses-content .courses-block .courses-block-list .course-block-item .block-bg .course-block-extra.block-light-blue {
  background: #4B67B1;
}
.courses .courses-container .courses-content .courses-block .courses-block-list .course-block-item .course-block-content {
  padding: 50px 0 20px 20px;
  box-sizing: border-box;
}
.courses .courses-container .courses-content .courses-block .courses-block-list .course-block-item .course-block-content.block-light-blue {
  background: #4B67B1;
}
.courses .courses-container .courses-content .courses-block .courses-block-list .course-block-item .course-block-content .course-block-title {
  margin-bottom: 40px;
  min-height: 60px;
}
.courses .courses-container .courses-content .courses-block .courses-block-list .course-block-item .course-block-content .course-block-title h4 {
  font-weight: 500;
  font-size: 24px;
  color: #fff;
}
.courses .courses-container .courses-content .courses-block .courses-block-list .course-block-item .course-block-content .course-block-descr .course-date {
  display: flex;
  margin-bottom: 10px;
}
.courses .courses-container .courses-content .courses-block .courses-block-list .course-block-item .course-block-content .course-block-descr .course-date .descr-icon {
  margin-right: 10px;
}
.courses .courses-container .courses-content .courses-block .courses-block-list .course-block-item .course-block-content .course-block-descr .course-date .descr-icon span {
  font-size: 16px;
  color: #fff;
}
.courses .courses-container .courses-content .courses-block .courses-block-list .course-block-item .course-block-content .course-block-descr .course-date .course-text p {
  font-size: 16px;
  color: #fff;
}
.courses .courses-container .courses-content .courses-block .courses-block-list .course-block-item .course-block-footer {
  background: #2B4177;
  padding: 16px 22px;
}
.courses .courses-container .courses-content .courses-block .courses-block-list .course-block-item .course-block-footer p {
  font-weight: 500;
  font-size: 24px;
  color: #fff;
}
.honor-container .honor-content {
  display: flex;
}
.honor-container .honor-content .honor {
  padding: 80px 60px;
  width: 33%;
  text-align: center;
}
.honor-container .honor-content .honor span {
  color: #fff;
  font-size: 50px;
}
.honor-container .honor-content .honor h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #4B67B1;
  color: #fff;
  padding: 25px 0;
}
.honor-container .honor-content .honor p {
  line-height: 22px;
  color: #fff;
}
.honor-container .honor-content .honor.courses {
  background: #4B67B1;
}
.honor-container .honor-content .honor.students {
  background: #383FA8;
}
.honor-container .honor-content .honor.experience {
  background: #2B4177;
}
.advantages .advantages-container .advantages-title {
  margin-bottom: 40px;
}
.advantages .advantages-container .advantages-title::after {
  content: '';
  display: block;
  width: 12%;
  right: 0;
  height: 6px;
  background-color: #4B67B1;
  margin-top: 4px;
  cursor: pointer;
}
.advantages .advantages-container .advantages-title h2 {
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  color: #333333;
  margin: 80px 0 20px 0;
}
.advantages .advantages-container .advantages-list {
  display: flex;
  flex-wrap: wrap;
}
.advantages .advantages-container .advantages-list .advantages-item {
  display: flex;
  width: 45%;
  margin-bottom: 30px;
  margin-right: 60px;
}
.advantages .advantages-container .advantages-list .advantages-item .adv-image {
  margin-right: 30px;
}
.advantages .advantages-container .advantages-list .advantages-item .adv-image span {
  color: #4B67B1;
  font-size: 40px;
}
.advantages .advantages-container .advantages-list .advantages-item .adv-description h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #4B67B1;
  margin-bottom: 20px;
}
.advantages .advantages-container .advantages-list .advantages-item .adv-description p {
  line-height: 22px;
}
.reviews {
  padding-bottom: 150px;
}
.reviews .reviews-container .reviews-title {
  margin-bottom: 80px;
}
.reviews .reviews-container .reviews-title::after {
  content: '';
  display: block;
  width: 12%;
  right: 0;
  height: 6px;
  background-color: #4B67B1;
  margin-top: 4px;
  cursor: pointer;
}
.reviews .reviews-container .reviews-title h2 {
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  color: #333333;
  margin: 80px 0 20px 0;
}
.reviews .reviews-container .reviews-slider {
  display: flex;
  padding: 0 50px;
  justify-content: space-around;
}
.reviews .reviews-container .reviews-slider .reviews-slider-content {
  margin-right: 50px;
  width: 20% !important;
}
.reviews .reviews-container .reviews-slider .reviews-slider-content:last-child {
  margin-right: 0;
}
.reviews .reviews-container .reviews-slider .reviews-slider-content .review-top .review-name {
  margin: 30px 0;
}
.reviews .reviews-container .reviews-slider .reviews-slider-content .review-top .review-name h4 {
  font-size: 24px;
  line-height: 28px;
  color: #4B67B1;
  font-weight: bold;
}
.reviews .reviews-container .reviews-slider .reviews-slider-content .review-top .review-name p {
  font-size: 20px;
  line-height: 30px;
  color: #BDBDBD;
}
.reviews .reviews-container .reviews-slider .reviews-slider-content .review-text {
  margin-top: 30px;
}
.reviews .reviews-container .reviews-slider .reviews-slider-content .review-text p {
  font-size: 14px;
  line-height: 24px;
  color: #4F4F4F;
}
.partners {
  padding: 50px 0;
}
.partners .partners-container .partners-title h3 {
  color: #a5a5a5;
  font-weight: 900;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  padding-bottom: 50px;
}
.partners .partners-container .partners-list {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
footer {
  background: #4B67B1;
}
footer .footer-container {
  padding: 50px 0;
  display: flex;
}
footer .footer-container .footer-menu {
  width: 33%;
}
footer .footer-container .footer-menu .footer-logo {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
footer .footer-container .footer-menu .footer-logo .footer-logo-image {
  margin-right: 20px;
}
footer .footer-container .footer-menu .footer-logo .footer-logo-name h5 {
  font-weight: bold;
  line-height: 24px;
  color: #fff;
  letter-spacing: 0.05em;
}
footer .footer-container .footer-menu .footer-logo .footer-logo-name p {
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}
footer .footer-container .footer-menu .footer-links a {
  display: block;
  color: #fff;
  cursor: pointer;
  margin-bottom: 20px;
}
footer .footer-container .footer-contacts {
  width: 28%;
}
footer .footer-container .footer-contacts .footer-contacts-title {
  margin-bottom: 30px;
}
footer .footer-container .footer-contacts .footer-contacts-title h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #4B67B1;
  color: #fff;
}
footer .footer-container .footer-contacts .footer-block {
  display: flex;
  margin-bottom: 20px;
}
footer .footer-container .footer-contacts .footer-block.social-icons span {
  color: #fff;
  font-size: 18px;
  margin-right: 20px;
  cursor: pointer;
}
footer .footer-container .footer-contacts .footer-block .contacts-icons {
  margin-right: 15px;
}
footer .footer-container .footer-contacts .footer-block .contacts-icons span {
  color: #fff;
}
footer .footer-container .footer-contacts .footer-block .footer-block-text p {
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  line-height: 20px;
}
footer .footer-container .footer-technologies {
  width: 38%;
}
footer .footer-container .footer-technologies .footer-tech-title {
  margin-bottom: 30px;
}
footer .footer-container .footer-technologies .footer-tech-title h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #4B67B1;
  color: #fff;
}
footer .footer-container .footer-technologies .tech-items span {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 14px;
  background: #8195c8;
  border-radius: 30px;
  margin-bottom: 8px;
  display: inline-block;
}
.copyright {
  background: #3B4F83;
  padding: 8px 0;
}
.copyright p {
  font-size: 14px;
  color: #fff;
  text-align: center;
}
