// out: ../css/style.css

body {
    font-size: 16px;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.headling-second {
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    color: #333333;
}

.headling-third {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #4B67B1;
}

.honor-container {
    .honor-content {
        display: flex;

        .honor {
            padding: 80px 60px;
            width: 33%;
            text-align: center;

            span {
                color: #fff;
                font-size: 50px;
            }

            h3 {
               .headling-third;
               color: #fff; 
               padding: 25px 0;
            }

            p {
                line-height: 22px;
                color: #fff;
            }
            
            &.courses {
                background: #4B67B1;
            }
    
            &.students {
                background: #383FA8;
            }
    
            &.experience {
                background: #2B4177;
            }
        }
    }
}

.advantages {
    .advantages-container {
        .advantages-title {
            margin-bottom: 40px;
            
            &::after {
                content: '';
                display: block;
                width: 12%;
                right: 0;
                height: 6px;
                background-color: #4B67B1;;
                margin-top: 4px;
                cursor: pointer;
            }
        
            h2 {
                .headling-second;
                margin: 80px 0 20px 0;
            }
        }

        .advantages-list {
            display: flex;
            flex-wrap: wrap;

            .advantages-item {
                display: flex;
                width: 45%;
                margin-bottom: 30px;
                margin-right: 60px;

                .adv-image {
                    margin-right: 30px;

                    span {
                        color: #4B67B1;
                        font-size: 40px;
                    }
                }

                .adv-description {
                    h3 {
                        .headling-third;
                        margin-bottom: 20px;
                    }

                    p {
                        line-height: 22px;
                    }
                }
            }
        }
    }
}

.reviews {
    padding-bottom: 150px;

    .reviews-container {
        .reviews-title {
            margin-bottom: 80px;
            
            &::after {
                content: '';
                display: block;
                width: 12%;
                right: 0;
                height: 6px;
                background-color: #4B67B1;;
                margin-top: 4px;
                cursor: pointer;
            }

            h2 {
                .headling-second;
                margin: 80px 0 20px 0;
            }
        }

        .reviews-slider {
            display: flex;
            padding: 0 50px;
            justify-content: space-around;

            .reviews-slider-content {
                margin-right: 50px;
                width: 20% !important;

                &:last-child {
                    margin-right: 0;
                }

                .review-top {

                    .review-image {

                    }
                    .review-name {
                        margin: 30px 0;

                        h4 {
                            font-size: 24px;
                            line-height: 28px;
                            color: #4B67B1;
                            font-weight: bold;
                        }

                        p {
                            font-size: 20px;
                            line-height: 30px;
                            color: #BDBDBD;
                        }
                    }
                }

                .review-text {
                    margin-top: 30px;

                    p {
                        font-size: 14px;
                        line-height: 24px;
                        color: #4F4F4F;
                    }
                }
            }
        }
    }
}

.partners {
    padding: 50px 0;

    .partners-container {
        .partners-title {
            h3 {
                color: rgb(165, 165, 165);
                font-weight: 900;
                font-size: 40px;
                line-height: 47px;
                text-align: center;
                padding-bottom: 50px;
            }
        }
        
        .partners-list {
            display: flex;
            justify-content: space-around;
            align-items: flex-end;

            .partner-item {
                img {

                }
            }
        }
    }
}

footer {
    background: #4B67B1;

    .footer-container {
        padding: 50px 0;
        display: flex;

        .footer-menu {
            width: 33%;
            
            .footer-logo {
                display: flex;
                align-items: center;
                margin-bottom: 30px;

                .footer-logo-image {
                    margin-right: 20px;

                    img {

                    }
                }
                .footer-logo-name {
                    h5 {
                        font-weight: bold;
                        line-height: 24px;
                        color: #fff;
                        letter-spacing: 0.05em;
                    }

                    p {
                        font-size: 14px;
                        line-height: 24px;
                        color: #fff;
                    }
                }
            }

            .footer-links {
                a {
                    display: block;
                    color: #fff;
                    cursor: pointer;
                    margin-bottom: 20px;
                }
            }
        }

        .footer-contacts {
            width: 28%;

            .footer-contacts-title {
                margin-bottom: 30px;

                h3 {
                    .headling-third;
                    color: #fff;
                }
            }

            .footer-block {
                display: flex;
                margin-bottom: 20px;

                &.social-icons {
                    span {
                        color: #fff;
                        font-size: 18px;
                        margin-right: 20px;
                        cursor: pointer;
                    }
                }

                .contacts-icons {
                    margin-right: 15px;

                    span {
                        color: #fff;
                    }
                }
                .footer-block-text {
                    p {
                        font-weight: 500;
                        font-size: 14px;
                        color: #fff;
                        line-height: 20px;
                    }
                }
            }
        }

        .footer-technologies {
            width: 38%;

            .footer-tech-title {
                margin-bottom: 30px;

                h3 {
                    .headling-third;
                    color: #fff;
                }
            }

            .tech-items {
                span {
                    color: #fff;
                    font-size: 14px;
                    font-weight: 600;
                    padding: 8px 14px;
                    background: #8195c8;
                    border-radius: 30px;
                    margin-bottom: 8px;
                    display: inline-block;
                }
            }
        }
    }
}

.copyright {
    background: #3B4F83;
    padding: 8px 0;

    p {
        font-size: 14px;
        color: #fff;
        text-align: center;
    }
}